<p id="notice"><%= notice %></p>

<p>
  <strong>Companyid:</strong>
  <%= @companyreg.companyid %>
</p>

<p>
  <strong>:</strong>
  <%= @companyreg. %>
</p>

<p>
  <strong>Companyname:</strong>
  <%= @companyreg.companyname %>
</p>

<p>
  <strong>:</strong>
  <%= @companyreg. %>
</p>

<p>
  <strong>Testid:</strong>
  <%= @companyreg.testid %>
</p>

<p>
  <strong>:</strong>
  <%= @companyreg. %>
</p>

<p>
  <strong>Testname:</strong>
  <%= @companyreg.testname %>
</p>

<p>
  <strong>:</strong>
  <%= @companyreg. %>
</p>

<p>
  <strong>Createdat:</strong>
  <%= @companyreg.createdat %>
</p>

<p>
  <strong>:</strong>
  <%= @companyreg. %>
</p>

<p>
  <strong>Updatedat:</strong>
  <%= @companyreg.updatedat %>
</p>

<p>
  <strong>:</strong>
  <%= @companyreg. %>
</p>

<%= link_to 'Edit', edit_companyreg_path(@companyreg) %> |
<%= link_to 'Back', companyregs_path %>
